.container
{
    text-align: center;
    background-color: rgba(0,0,0,0.60);
}

#logo
{
    width: 220px;
    height: 100 px;
    margin-top: 0px;
    position: relative;
}

#logo img
{
    max-width: 100%;
    max-height: 100%;
}

.loginBox
{
    width: 450px;
    height: 660px;
    background-color: rgba(0,0,0,0.85);
    display: inline-block;
    border-radius: 6px;
    margin-top: 0px;
}

.topText
{
    font-family: sans-serif;
    font-size:32px ;
    color: white;
    margin-top: 15%;
    margin-left: 15%;
    text-align: left;
    opacity: 1;
}

.emailInput
{
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 6px;
    display: flex;
    margin-left: 15%;
    background-color: #484444;
    
}

.emailInput::placeholder
{
    margin-left: 15px;
    font-size: 16px;
    color: #b1a3a3;
    padding-left: 15px; 

}

.passwordInput
{
    color: white;
    width: 300px;
    height: 45px;
    border-radius: 6px;
    display: flex;
    margin-left: 15%;
    margin-top: 15px;
    background-color: #484444;
    
}

.passwordInput::placeholder
{
    margin: 2px;
    font-size: 16px;
    color: #b1a3a3;
    padding-left: 15px;
}

.loginButton
{
    color: white;   
    width: 310px;
    height: 50px;
    border-radius: 6px;
    background-color: red;
    font-family: sans-serif;
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px;
    
}

.loginOptions
{
    width: 310px;
    height: 45px;
    display: flex;
    margin: 0px auto;
    margin-top: 10px;
}

.loginCheck
{
    color: #b1a3a3;
}

.loginCheckContainer
{
    color: #b1a3a3;
}

.loginCheckContainer input
{
    width: 15px;
    height: 15px;
    position: flex;
    
}


.help
{
    color: #b1a3a3;
    margin-left: 85px;
    text-decoration: none;
}

.bottomText
{
    width: 310px;
    height: 40px; /*temp*/
    display: flex;
    margin: 0px auto;
    margin-top: 20px;
}


.bottomT1
{
    font-family: sans-serif;
    color:#b1a3a3;
    font-size: 15px;
    

}

.bottomT2
{
    font-family: sans-serif;
    color:white;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 15px;
    text-decoration: none;

}


.bottomT3{
    margin-top: 0px;
    color:#b1a3a3;
    font-size: 13px;
    font-family: sans-serif;
    text-align: left;
    margin-top: 10px;
    text-decoration: none;
}

.captcha
{
    width: 310px;
    height: 100px; /*temp*/
    margin: 0px auto;
    text-decoration: none;
}

.info
{
    text-decoration: none;
}